.md-sidenav-left{
  grid-area: left;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
  width:25%;
  background-color : #d7d7d7;
}
  input[type=text] {
    margin-top: 73%;
    padding-top: 5px
    padding-right:100%;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        background-color: white;
     }
     input[type=searchtext] {
    margin-top: 0;
    padding-top: 8px;
      padding-bottom: 8px;
       padding-right: 120px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        background-color: white;
     }

.head{
        width: 100%;
        display: flex;
        background-color: darkgrey;
        }   
img {
        border-radius: 50%;
        width:45px
      } 
.dropbtn { 
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color:space-grey;}

.show {display: block;}

.contact{
  background: transparent;
}
.contact-list{
  padding: 10px;
  border: 2px solid #ccc;
    display: block;
}
.message{
    border: 1px solid #ccc;

  margin-top:3%;
  margin-left:35%; 
  width:55%;
  height:98.5%;
  background-color : green;
}
.msg_head{
    width: 100%;
    display: flex;
  background-color:grey;
  }
.grid-container {
  display: grid;
  grid-template-areas:  
    'left middle right' 
  grid-column-gap:0px;
} 
  .msgtype{
  height: 100%;
    width: 100%;
  }
  