    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop="" md-whiteframe="4" md-is-locked-open="true" 
                style="max-height:100%; overflow-x: hidden; background-color: white; width:25%;height: -webkit-fill-available">
<!-- sidnav header  -->
        <md-toolbar class="md-theme-indigo" style="background-color:#00838F;">
          <div class="md-toolbar-tools" style="padding:14px 0;">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">
                <div class="avt">
                 <md-icon md-svg-src = 'static/images/person.svg'></md-icon>
                </div>
              </button>
                <div id="myDropdown" class="dropdown-content" >
                  <!-- <a href="#home">PROFILE</a>
                  <a href="#about">SETTINGS</a> -->
                  <a href="#contact">LOGOUT</a>
                </div>
            </div>
            <p>{{user.user1_email}}</p>
          </div>
      </md-toolbar>
<!-- sidenav headeer end -->
<!-- search -->
            <div layout layout-align="start center">
              <div class="search-input" layout layout-align="start center">
                <input class="search-box" type="text" name="input" placeholder="Search..." autocomplete="off" ng-model="search_contact"autofocus></input>
                  <md-icon  style="color: grey;">search</md-icon>
        <!-- </md-button> -->
              </div>
              
            </div>
            <md-divider style="width: 100%"></md-divider>
<!-- search end -->
<!-- contact list -->
        <md-content>
          <md-list flex>
            <md-list-item class="md-2-line"  ng-click="user2(c)" ng-repeat="c in contacts | filter: search_contact track by $index" ng-class="selected.key == c.key ? 'selected' : 'noselected'">
             <img ng-src="static/images/avt.png" class="md-avatar" alt="{{todos[0].who}}">
                <div class="md-list-item-text">
                  <span>{{c.email}}</span> 
                </div>
                <md-divider style="width: 100%"></md-divider>
            </md-list-item>
            <md-divider style="width: 100%"></md-divider>
          </md-list>
        </md-content>
      </md-sidenav>
<!-- contact list end -->
      <div ng-hide="selected.email" style="width:75%; background-color: white">
        <md-toolbar class="md-theme-indigo" style="background-color:#00838F;">
          </md-toolbar>
      
          <center>
          <div class="welcome" layout="row" flex>
            <img src="static/images/chatt.gif" style="opacity: 0.8;"> 
            <p>WELCOME</p>
          </div>
        </center>
      </div>
      <div ng-show="selected.email" style="width:75%;">
        <md-toolbar class="md-theme-indigo" style="background-color:#00838F;">
          <div class="md-toolbar-tools" style="padding-left:20px">
          <div><md-icon md-svg-src = 'static/images/person.svg'></md-icon></div>
          <p style="padding-left: 15px;">{{selected.email}}</p>
          </div>
          
        </md-toolbar>
        <div style="height: 82.8vh; overflow-y: scroll;">
            <div ng-repeat="x in oldChat | orderBy:'-' track by $index" ng-class="selected.key == x.user2_key ? 'sending' : 'receiving'">
              <div >
                <p>{{x.content}}</p>
              </div>
              <!-- <div class="receiving">
                <p>{{oldChat}}</p>
              </div> -->
            </div>
            <footer>
                <div class="msg_type" ng-controller="sendtext">
                  <div layout layout-align="start center">
                    <div class="message-input" layout layout-align="start center">
                      <input class="input-box" type="text" name="input" placeholder="Type a message.." autocomplete="off" autofocus ng-model="typetext" ></input>
      
                    </div>  
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" style="background-color: #00838F;" ng-click="send(typetext); typetext=''" >
                <md-icon  style="color: white;">send</md-icon>
              </md-button>
                  </div>
                  </div>
              </footer>
        </div>
        </div>       
  </section>
